html{
    font-family: Arial, Helvetica, sans-serif;
}
.parrafo{
    color: red;
    font-style: italic;
}
main{
    background-color: rgb(161, 161, 161);
}
footer{
    border: 2px solid black;
    border-radius: 5px;
}
header{
    text-align: center;
}
button {
    padding: 10px 20px;
    background-color: #008cff;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.1);
}
