html{
    font-family: Arial, Helvetica, sans-serif;
}
.parrafo{
    color: red;
    font-style: italic;
}
main{
    background-color: rgb(161, 161, 161);
}
footer{
    border: 2px solid black;
    border-radius: 5px;
}
header{
    text-align: center;
}